#search-bar {
    background-size: cover; 
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the inputs */
    margin-bottom: 20px;
}

.search {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#lets-go-button {
    background-color: #D4A373; /* Gold color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lets-go-button:hover {
    background-color: #B68C5A; /* Slightly darker gold on hover */
}

#search-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin-top: 10px;
}

.search-bar-tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.search-bar-tabs div {
    cursor: pointer;
    position: relative;
}

.search-bar-tabs div:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background-color: #D4A373;
}
